# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: didas
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: serverless-api-learn
# "service" is the name of this project. This will also be added to your AWS resource names.
service: serverless-aws

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
          Resource: arn:aws:dynamodb:${self:provider.region}:*:table/OrdersTable
functions:
  createOrder:
    handler: src/functions/createOrder.create
    events:
      - httpApi:
          path: /orders
          method: post
  getOrder:
    handler: src/functions/getOrder.get
    events:
      - httpApi:
          path: /orders/{orderId?}
          method: get
  updateOrder:
    handler: src/functions/updateOrder.update
    events:
      - httpApi:
          path: /orders/{orderId}
          method: put
  deleteOrder:
    handler: src/functions/deleteOrder.remove
    events:
      - httpApi:
          path: /orders/{orderId}
          method: delete
  hello:
    handler: src/functions/handler.hello
    events:
      - httpApi:
          path: /
          method: get

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OrdersTable
        AttributeDefinitions:
          - AttributeName: orderId
            AttributeType: S
        KeySchema:
          - AttributeName: orderId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
